{% extends "sbase.html" %}
{% load staticfiles %}

{% block content %}

<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
     <a href="/" class="active item">Home</a>
 {% if user.is_authenticated %}
      <a href="portal/quote/first" class="item">Quote</a>
      <a href="/portal/quote/list" class="item">List</a>
        <div id="qweas" class="item">[]</div>
        {% endif %}
        <div class="right item">


        {% if user.is_authenticated %}
          <a id="home_slide" style="color:black;" class="ui inverted button">{{ user.username }}</a>

          <form id='my_form' method="post" action="/accounts/logout/">
             {% csrf_token %}
            <a href="javascript:{}" style="color:black;" class="ui inverted button" onclick="document.getElementById('my_form').submit();">Sign Out </a>
          </form>
          {% else %}

            <a href="/auth/login/" style="color:black;" class="ui inverted button">Log in</a>{{ user.username }} 
            <a href="/auth/signup/" style="color:black;" class="ui inverted button">Sign Up</a>
        {% endif %}
        </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
   {% comment %} <a href="/" class="active item">Home</a> {% endcomment %}
  <a href="portal/quote/first" class="item">Quote</a>
  <a href="/portal/quote/list" class="item">List</a>
  <a href="/auth/login/" class="item">Login</a>
  <a href="/auth/signup/" class="item">Signup</a>
  <form method="post"  class="item" action="/accounts/logout/">
    <button type="submit">Sign Out</button>
  </form>
</div>


<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        {% comment %} <a href="/" class="active item">Home</a> {% endcomment %}
        {% if user.is_authenticated %}
        <a href="/portal/quote/first" class="item">Quote</a>
        <a href="/portal/quote/list" class="item">List</a>
        <div id="qweas" class="item">[]</div>
        {% endif %}
        <div class="right item">


        {% if user.is_authenticated %}
          <a id="home_slide" class="ui inverted button">{{ user.username }}</a>

          <form id='my_form' method="post" action="/accounts/logout/">
             {% csrf_token %}
            <a href="javascript:{}" class="ui inverted button" onclick="document.getElementById('my_form').submit();">Sign Out </a>
          </form>
          {% else %}

            <a href="/auth/login/" class="ui inverted button">Log in</a>{{ user.username }} 
            <a href="/auth/signup/" class="ui inverted button">Sign Up</a>
        {% endif %}
        </div>
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        Blue Quote
      </h1>
      <h2>Do whatever you want when you want to with this portal :P</h2>
      {% if user.is_authenticated %}
      <div id="fxdhg" class="ui huge primary button"><a style="color: white;" href="/portal/quote/first">Quote </a><i class="right arrow icon"></i></div>
      {% else %}
      <div id="fxdhg" class="ui huge primary button"><a style="color: white;" href="/auth/signup/">Register  </a><i class="right arrow icon"></i></div>
      {% endif %}
    </div>

  </div>



  <div style="margin-top:0" class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
            <a href="#" class="item">Religious Ceremonies</a>
            <a href="#" class="item">Gazebo Plans</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Banana Pre-Order</a>
            <a href="#" class="item">DNA FAQ</a>
            <a href="#" class="item">How To Access</a>
            <a href="#" class="item">Favorite X-Men</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Footer Header</h4>
          <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
        </div>
      </div>
    </div>
  </div>
</div>


  <script>
 $(document).ready(function(){

$( "#user_prof" ).hide();   
 
  $(document).on('click', '#qweas', function() {
     $( "#user_prof" ).toggle();     
      });  
 })
</script>



{% endblock %}