{% extends "sbase.html" %}
{% load staticfiles %}

{% block content %}
 <script>
 $(document).ready(function(){
   
  $( "#ws_firewall_yes" ).click(function() {
    $( "#ws_firewall_no" ).prop( "checked", false );
});
  $( "#ws_firewall_no" ).click(function() {
    $( "#ws_firewall_yes" ).prop( "checked", false );
});

  $( "#ws_hostips_yes" ).click(function() {
    $( "#ws_hostips_no" ).prop( "checked", false );
});
  $( "#ws_hostips_no" ).click(function() {
    $( "#ws_hostips_yes" ).prop( "checked", false );
});

  $( "#ws_dacfte_yes" ).click(function() {
    $( "#ws_dacfte_no" ).prop( "checked", false );
});
  $( "#ws_dacfte_no" ).click(function() {
    $( "#ws_dacfte_yes" ).prop( "checked", false );
});

   {% comment %} $('#nxtpagebtn').click(function(){
     $( "#epsrvcs" ).removeClass( "hidme" )     
     $( "#btnset1" ).addClass( "hidme" )
   })

   $('#eps').click(function(){
     $( "#malwarebox" ).removeClass( "hidme" )   
   })

   $('#prvwbtn').click(function(){
     $( "#tnconds" ).removeClass( "hidme" )   
     $( "#finlbtnset" ).removeClass( "hidme" )    
   }) {% endcomment %}

    $('#varr1').click(function(){
        $('#w11').html('2');
        $('#w12').html('2');
        $('#w13').html('2');
        $('#w21').html('2');
        $('#w22').html('2');
        $('#w23').html('2');
        $('#w31').html('2');
        $('#w32').html('2');
        $('#w33').html('2');
        $('#w41').html('2');
        $('#w42').html('2');
        $('#w43').html('2');
        $('#w51').html('2');
        $('#w52').html('2');
        $('#w53').html('2');
        $('#w61').html('2');
        $('#w62').html('2');
        $('#w63').html('2');
        $('#w71').html('2');
        $('#w72').html('2');
        $('#w73').html('2');
        $('#w81').html('2');
        $('#w82').html('2');
        $('#w83').html('2');
        $('#w91').html('2');
        $('#w92').html('2');
        $('#w93').html('2');
        //alert("sdf");
        //$('#total').text('Product price: $1000');
    });
 });
 </script>
<div class="ui fixed inverted menu" style="border-radius: 0;background:#02284E;margin: 0!important;">
<a href="/" class="header item">
        <img class="logo" style="height: 40px;width: 114px;" src="/static/assets/images/logo.png">
        
      </a>
  <a href="/" class="header item">Home</a>
  <div href="/portal/quote/" class="active item">Quotes</div>
  <a href="/portal/quote/list" class="item">List</a>


  <div class="right menu">


    <div class="item">
      {% comment %} <div class="ui transparent inverted icon input">
        <i class="search icon"></i>
        <input style="background: transparent;border-color: black; color: white;" type="text" placeholder="Search">
      </div> {% endcomment %}
    </div>
     {% if user.is_authenticated %}
         <a class="item">{{ user.username }}</a>

          <form id='my_form' method="post" action="/accounts/logout/">
             {% csrf_token %}
            <a href="javascript:{}"  style="height: 100%!important;" class="item" onclick="document.getElementById('my_form').submit();">Sign Out </a>
          </form>

      {% else %}
        <a href="/auth/login/" class="item">Login</a>
        <a href="/auth/signup/" class="item">Signup</a>
      {% endif %}
  </div>
</div>

  <div class="ui main container" style="width: 90%;">
    <h1 class="ui header">Service Solution Estimator #2</h1>
    <p>IBM India Pvt. Ltd.</p>
    <p style="color:white;">...</p>
    
  </div>
  {% comment %} <br>
  <hr style="width: 60%;color: #a1a0a0">
  <br> {% endcomment %}

  <div class="ui divider"></div><br>

{% comment %} <form method="POST" action="/portal/quote/preview"> {% endcomment %}
<form method="POST" action="/portal/quote/final">
{% csrf_token %}
  <!-- Container START -->
  <div class="ui container" style="width: 90%;">
    
    <div class="ui  attached buttons">
        <div class="ui button">Customer Account Information</div>
    </div>

      <div class="ui four column stackable grid attached segment">

        <!-- Main Clolumns 1 START -->
          <div class="column">
            <div class="ui labeled input" style="width:100%">
               <a class="ui label"> Form ID # </a>
               <input type="text" name="form_id" value="{{frm_flds.form_id}}">
            </div>
            <div class="ui divider"></div>
            <div class="ui  labeled input" style="width:100%">
               <a class="ui label"> Form Status </a>
               <input type="text" name="form_status" value="{{frm_flds.form_status}}">
            </div>
            <div class="ui divider"></div>
            <div class="ui  labeled input" style="width:100%">
                <a class="ui label"> Requestor </a>
                <input type="text"  name="requestor_name" placeholder="Placeholder..." value="{{user.username}}">
            </div>
            <div class="ui divider"></div>
              <div class="ui  labeled input" style="width:100%">
                <a class="ui label"> Requestor ID </a>
                <input type="text" name="requestor_email" placeholder="Enter your email Id" value="{{user.email}}" >
            </div>

          </div>
        <!-- -END- -->
        
        <!-- Main Clolumns 2 START -->
          <div class="column">
            <div class="ui labeled input" style="width:100%">
               <a class="ui label"> Submission Date </a>
               <input type="date"  name="submission_date" value="2018-08-08">
             </div>
            <div class="ui divider"></div>
            <div class="ui  labeled input" style="width:100%">
               <a class="ui label"> Valid upto </a>
               <input type="date"  name="valid_upto" value="2018-10-08">
            </div>
            <div class="ui divider"></div>
             <div class="ui  labeled input" style="width:100%">
               <a class="ui label"> Sales Connect# </a>
               <input type="text"  name="sales_connect" placeholder="Placeholder..." value="{{frm_flds.sales_connect}}">
            </div>
            <div class="ui divider"></div>
            <div class="ui  labeled input" style="width:100%">
               <a class="ui label"> RFS# </a>
               <input type="text"  name="form_rfs" placeholder="Placeholder..." value="{{frm_flds.form_rfs}}">
           </div>
          </div>
        <!-- -END- -->
        
          <!-- Main Clolumns 3 START -->
          <div class="column">
              <div class="ui labeled input" style="width:100%">
               <a class="ui label"> Customer/ Account Name </a>
               <input name="form_acc_name" type="text" placeholder="Placeholder..." value="{{frm_flds.form_acc_name}}">
              </div>
              <div class="ui divider"></div>
                <div class="ui  labeled input" style="width:100%">
                  <a class="ui label"> Customer ID </a>
                  <input name="form_cstmr_id" type="text" placeholder="Placeholder..." value="{{frm_flds.form_cstmr_id}}">
              </div>
              <div class="ui divider"></div>
                <div class="ui  labeled input" style="width:100%">
                  <a class="ui label"> Sales ID </a>
                  <input name="form_sales_id" type="text" placeholder="Placeholder..." value="{{frm_flds.form_sales_id}}">
              </div>
              <div class="ui divider"></div>
                <div class="ui  labeled input" style="width:100%">
                  <a class="ui label"> Approver's Name </a>
                  <input name="form_aprv_name" type="text" placeholder="Placeholder..." value="{{frm_flds.form_aprv_name}}">
              </div>
            </div>
        <!-- -END- -->
        

        <!-- Main Clolumns 4 START -->
          <div class="column">
            
             <div class="ui right labeled input" style="width:100%">
              <a class="ui label"> Risk Rating </a>
              <input id="rsk-rating" name="rsk_rating" style="border: 0;" type="text"  value="{{frm_flds.rsk_rating}}">  
              <div class="ui dropdown label">
                <div class="text">Select</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <a href="javascript:{}" onclick="document.getElementById('rsk-rating').value='low';" class="item">Low</a>
                  <a href="javascript:{}" onclick="document.getElementById('rsk-rating').value='medium';" class="item">Medium</a>
                  <a href="javascript:{}" onclick="document.getElementById('rsk-rating').value='high';" class="item">High</a>
                </div>
              </div>            
             </div>
             
            <div class="ui divider"></div>

             <div class="ui right labeled input" style="width:100%">
              <a class="ui label"> Region </a>
              <input id="rsk-region" name="rsk_region" style="border: 0;" type="text" placeholder="" value="{{frm_flds.rsk_region}}">  
              <div class="ui dropdown label">
                <div class="text">Select</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <a href="javascript:{}" onclick="document.getElementById('rsk-region').value='usa1';" class="item">USA 1</a>
                  <a href="javascript:{}" onclick="document.getElementById('rsk-region').value='indiagdc';" class="item">India GDC</a>
                  <a  href="javascript:{}" onclick="document.getElementById('rsk-region').value='indiadom';" class="item">India DOM</a>
                  <a  href="javascript:{}" onclick="document.getElementById('rsk-region').value='modrics';" class="item">NORDICS-Home 1</a>
                  <a  href="javascript:{}" onclick="document.getElementById('rsk-region').value='czech';" class="item">CZECH GDC</a>
                  <a  href="javascript:{}" onclick="document.getElementById('rsk-region').value='anz';" class="item">ANZ</a>
                  <a  href="javascript:{}" onclick="document.getElementById('rsk-region').value='africa';" class="item">AFRICA</a>
                  <a  href="javascript:{}" onclick="document.getElementById('rsk-region').value='usesme';" class="item">USE SME</a>
                  <a  href="javascript:{}" onclick="document.getElementById('rsk-region').value='notselected';" class="item">Not Selected Yet</a>
                </div>
              </div>           
             </div>
             
             <div class="ui divider"></div>

             <div class="ui right labeled input" style="width:100%">
               <a class="ui label"> Custom </a>
               <input id="rsk-custom" name="rsk_custom" style="border: 0;" type="none" placeholder="" value="{{frm_flds.rsk_custom}}">
               <div class="ui dropdown label">
                <div class="text">Select</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <a href="javascript:{}" onclick="document.getElementById('rsk-custom').value='yes';" class="item">Yes</a>
                  <a href="javascript:{}" onclick="document.getElementById('rsk-custom').value='no';" class="item">No</a>
                </div>
              </div>
             </div>

            <div class="ui divider"></div>

            <!--div class="ui right labeled input" style="width:100%">
              <input placeholder="Placeholder" type="text">
              <div class="ui dropdown label">
                <div class="text">Dropdown</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item">Choice 1</div>
                  <div class="item">Choice 2</div>
                  <div class="item">Choice 3</div>
                </div>
              </div>
            <a/div-->
             <!-- Main Clolumn 4 END -->

          </div>

        

      </div> 
  </div>
  <!-- Container END -->
<br>
<!-- Selected COE -->
<div class="ui center aligned container"  style="width: 90%;">
  <div class="ui  attached buttons">
      <div class="ui button">Selected COE</div>
  </div>
  <!-- Container -->
  <div class="ui five column stackable grid attached segment">
         <div class="column">            
            <div class="ui labeled input" style="width:100%">
            <a class="ui label"> Endpoint </a>
            <input type="checkbox"  id="coe_endpoint" name="coe_endpoint" {% if frm_flds.coe_endpoint%}checked{% endif %}>              
            </div>
         </div>
        <div class="column">            
            <div class="ui labeled input" style="width:100%">
            <a class="ui label"> DAS </a>
            <input type="checkbox" id="coe_das"  name="coe_das" {% if frm_flds.coe_das%}checked{% endif %}>            
            </div>
         </div>
         <div class="column">            
            <div class="ui labeled input" style="width:100%">
            <a class="ui label"> Infra </a>
            <input type="checkbox" id="coe_infra"  name="coe_infra" {% if frm_flds.coe_infra%}checked{% endif %}>            
            </div>
         </div>
         <div class="column">            
            <div class="ui labeled input" style="width:100%">
            <a class="ui label"> IAM</a>
            <input type="checkbox" id="coe_iam"  name="coe_iam"  {% if frm_flds.coe_iam%}checked{% endif %}>   
            </div>
         </div>
         <div class="column">            
            <div class="ui labeled input" style="width:100%">
            <a class="ui label"> SIOC </a>
            <input type="checkbox" id="coe_sioc"  name="coe_sioc" {% if frm_flds.coe_sioc%}checked{% endif %}>        
            </div>
         </div>
    </div>
</div>

<br>



<br>
<!--Endpoint Security services-->
<div id="epsrvcs" class="ui center aligned container"  style="width: 90%;">
  <div class="ui  attached buttons">
      <div class="ui button">Endpoint Security services</div>
  </div>
  <!-- Container -->
  <div class="ui attached segment">
    <div id="eps" class="ui five column stackable grid">
         <div class="column">            
            <div class="ui labeled input" style="width:100%">
            <a class="ui label" > Malware </a>
            <input type="checkbox" id="eps" name="eps_malware" value="true">              
            </div>
         </div>
                  <div class="column">            
            <div class="ui labeled input" style="width:100%">
            <a class="ui label" > Web Security </a>
            <input type="checkbox" id="eps" name="eps_websec" value="true">          
            </div>
         </div>
                  <div class="column">            
            <div class="ui labeled input" style="width:100%">
            <a class="ui label"> Email Security </a>
            <input type="checkbox" id="eps"name="eps_emailsec" value="true">   
            </div>
         </div>
                  <div class="column">            
            <div class="ui labeled input" style="width:100%">
            <a class="ui label" > Vulnerability Management </a>
            <input type="checkbox" id="eps" name="eps_vulmgmnt" value="true">          
            </div>
         </div>
                  <div class="column">            
            <div class="ui labeled input" style="width:100%">
            <a class="ui label"> DLP </a>
            <input type="checkbox"  id="eps" name="eps_dlp" value="true">  
            </div>
         </div>
      </div>
    
    </div>
</div>

<br><br>
<!-- MAlware-->
<div id="malwarebox" class="ui center aligned container "  style="width: 90%;">
  <div class="ui  attached buttons">
      <div class="ui button">Malware</div>
  </div>
  <!-- Container -->
  <div class="ui attached segment">
    <div class="ui two column stackable grid">
      <!-- Left Column -->
      <div class="column" style="padding-bottom: 30px;">

             <div class="ui right labeled input" style="width:100%">
              <a class="ui label"> Select Windows for Operations </a>
              <input style="border: 0; color: white;" id="malware_winopn" name="malware_winopn" type="text" placeholder=""  value="">  
              <div class="ui dropdown label">
                <div class="text">Select</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <a href="javascript:{}" onclick="document.getElementById('malware_winopn').value='8*5';" value="8*5" class="item">8*5</a>
                  <a href="javascript:{}" onclick="document.getElementById('malware_winopn').value='16*5';" value="16*5" class="item">16*5</a>
                  <a href="javascript:{}" onclick="document.getElementById('malware_winopn').value='24*7';" value="24*7" class="item">24*7</a>
                  <a href="javascript:{}" onclick="document.getElementById('malware_winopn').value='8*5oc';" value="8*5oc" class="item">8*5 wih Oncall</a>
                  <a href="javascript:{}" onclick="document.getElementById('malware_winopn').value='16*5oc';" value="16*5oc" class="item">16*5 with Oncall</a>
                </div>
              </div>            
             </div>
             
      </div>      
      <!-- Right Column -->
      <div class="column" style="padding-bottom: 30px;"> 
             <div class="ui right labeled input" style="width:100%">
              <a class="ui label"> Service Scope </a>
              <input style="border: 0; color:white" id="malware_srvcscp" name="malware_srvcscp" type="text" placeholder=""  value="">  
              <div class="ui dropdown label">
                <div class="text">Select</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <a href="javascript:{}" onclick="document.getElementById('malware_srvcscp').value='servers';" value="servers" class="item">Servers</a>
                  <a href="javascript:{}" onclick="document.getElementById('malware_srvcscp').value='workstations';" value="workstations" class="item">Workstations</a>
                  <a href="javascript:{}" onclick="document.getElementById('malware_srvcscp').value='srvcwrkstn';" value="srvcwrkstn" class="item">Servers & Workstations</a>
                </div>
              </div>           
             </div>
      </div>
    </div>

    <!--Endpoint FTE resource count-->
    <div class="ui center aligned container" style="width: 100%;margin-top: 15px;">
      <div class="ui  attached buttons">
        <div class="ui button">Endpoint FTE resource count</div>
       </div>
       <!-- Container -->
      <div class="ui attached segment">
        <div class="ui three column stackable grid ">
          <!-- Left 1 column -->
          <div class="column">          
            <div class="ui disabled labeled input" style="width:100%">
               <a class="ui label"> BS </a>
               <input  name="esc_bs" value="0.0" type="text">
            </div>
            <div class="ui divider"></div>
            <div class="ui disabled labeled input" style="width:100%">
               <a class="ui label"> Base FTE </a>
               <input  name="esc_bfte" value="0.0" type="text">
            </div>
          </div>
        <!-- Middle 2 column -->
          <div class="column">
            <div class="ui disabled labeled input" style="width:100%">
               <a class="ui label"> B7 </a>
               <input name="esc_b7" value="0.0" type="text">
            </div>
            <div class="ui  divider"></div>
            <div class="ui disabled labeled input" style="width:100%">
               <a class="ui label"> Total FTE </a>
               <input name="esc_tfte" value="0.0" type="text">
            </div>
          </div>
        <!-- Right 3 column -->
          <div class="column">
          
            <div class="ui disabled labeled input" style="width:100%">
               <a class="ui label"> B7 </a>
               <input name="esc_b77" value="0.0" type="text">
            </div>
            <div class="ui  divider"></div>
            <div class="ui disabled labeled input" style="width:100%">
               <a class="ui label"> Transition FTE </a>
               <input name="esc_ttfte" value="0.0" type="text">
            </div>

          </div>
        
        </div>
      </div>
    </div>
    <br>

    <div class="ui center aligned container"  style="width: 100%;">
    <div class="ui  attached buttons">
        <div class="ui button">Workstations</div>
    </div>
  <!-- Malware FIRSTContainer -->
  <div class="ui two column stackable grid attached segment">
    <!--LEFT COLUMN VARIBALES-->
    <div class="column"> 
    
             <div class="ui right labeled input" style="width:100%">
              <a class="ui label"> Vendor </a>
              <input style="border: 0;" id="servers-vendor" name="servers_vendor" type="text" placeholder=""  value="">  
              <div class="ui dropdown label" id="varr1">
                <div class="text">Select</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <a href="javascript:{}" onclick="document.getElementById('servers-vendor').value='mcafee';" value="mcafee" class="item">McAfee</a>
                  <a href="javascript:{}" onclick="document.getElementById('servers-vendor').value='trendmicro';" value="trendmicro" class="item">Trend Micro</a>
                </div>
              </div>            
             </div>
             
            <div class="ui divider"></div>

            <div class="ui  labeled input" style="width:100%">
                <a class="ui label"> Anti-Malware (Agent) </a>
                <input name="servers_antimware" required="required" placeholder="Placeholder..." type="text">
            </div>
            <div class="ui divider"></div>
              <div class="ui labeled input" style="width:100%">
                <a class="ui label"> Host Firewall </a>
               <input style="border: 0;" type="text" placeholder="" value="">   
                <div class="ui  label">
                  Yes
                  <input id="ws_firewall_yes" name="ws_firewall_yes" type="checkbox" value="true">
                  No  
                  <input id="ws_firewall_no" name="ws_firewall_no" type="checkbox" value="true">  
                </div>            
              </div>
            <div class="ui divider"></div>

           
              <div class="ui labeled input" style="width:100%">
                <a class="ui label"> Host IPS </a>
               <input style="border: 0;" type="text" placeholder="" value="">   
                <div class="ui  label">
                  Yes
                  <input id="ws_hostips_yes" name="ws_hostips_yes" type="checkbox" value="true">
                  No  
                  <input id="ws_hostips_no" name="ws_hostips_no" type="checkbox" value="true">  
                </div>            
              </div>
               <div class="ui divider"></div>
              <div class="ui labeled input" style="width:100%">
                <a class="ui label"> Device Application Control FTE </a>
               <input style="border: 0;" type="text" placeholder="" disabled>      
                <div class="ui  label">
                  Yes
                  <input id="ws_dacfte_yes" name="ws_dacfte_yes" type="checkbox"  value="true">
                  No  
                  <input id="ws_dacfte_no" name="ws_dacfte_no" type="checkbox"  value="true">  
                </div>         
              </div>
            <div class="ui divider"></div>
            <div class="ui  labeled input" style="width:100%">
                <a class="ui label"> Number of Consoles </a>
                <input required="required" name="servers_noconsole" placeholder="..." type="text">
            </div>
              <br>              
              <br>
              <div class="ui right labeled input" style="width:100%">
                  <a class="ui secondary button">Reset All Fields</a> &nbsp;&nbsp;&nbsp;
                  <a class="ui primary button">Run Estimator</a>
              </div>

     </div>
    <!-- Right COLUMN CALCULATIONS TABLE-->
    <div class="column">
      <table class="ui right aligned table">
        <thead>
          <tr><th class="left aligned"></th>
          <th>Effort at Levels</th>
          <th>Base FTE</th>
          <th>Final FTE</th>
        </tr></thead>
        <tbody>
          <tr>
            <td class="left aligned">Workstation Factor</td>
            <td id="w11">36</td>
            <td id="w12">36</td>
            <td id="w13">2</td>
          </tr>
          <tr>
            <td class="left aligned">Workstation Supported</td>
            <td id="w21">24</td>
            <td id="w22">24</td>
            <td id="w23">29</td>
          </tr>
          <tr>
            <td class="left aligned">Encryption Effort</td>
            <td id="w31">22</td>
            <td id="w32">11</td>
            <td id="w33">9</td>
          </tr>
          <tr>
            <td class="left aligned">Host FW Effort</td>
            <td id="w41">7</td>
            <td id="w42">35</td>
            <td id="w43">3</td>
          </tr>
          <tr>
            <td class="left aligned">HIPS Effort</td>
            <td id="w51">7</td>
            <td id="w52">38</td>
            <td id="w53">20</td>
          </tr>
          <tr>
            <td class="left aligned">Device Application Control</td>
            <td id="w61">7</td>
            <td id="w61">3</td>
            <td id="w63">20</td>
          </tr>
          <tr>
            <td class="left aligned">Number of Consoles</td>
            <td id="w71">7</td>
            <td id="w72">38</td>
            <td id="w73">20</td>
          </tr>
          <tr>
            <td class="left aligned">FTE Round Off</td>
            <td id="w81">7</td>
            <td id="w82">3</td>
            <td id="w83">20</td>
          </tr>
          <tr>
            <td class="left aligned">FTE for Calculations</td>
            <td id="w91">7</td>
            <td id="w92">38</td>
            <td id="w93">20</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>


  <br>

  <div id="tnconds" class="ui center aligned container "  style="width: 100%;">
    <div class="ui  attached buttons">
        <div class="ui button">Terms and Condition</div>
    </div>
    <!-- Container -->
    <div class="ui one column stackable grid attached segment">
      <div class="column"> 
      
            <div class="ui  labeled input" style="width:100%">
                  <a class="ui label" style="background: transparent;"> Read Policy </a>
                  <textarea rows="14" cols="50" style="width: 100%;padding: 10px;" type="text" name="trm_cond" value="qqq" >
                    Please Note :

                    During Transition months shifts will not be considered. If shifts required during Transition than add those months to Agreement terms month.

                    Service Start Date should be minimum 4 months from Solution Date else would need GID approval to start early.

                    Use Case developer will work only in 8x5 shift.

                    No On-call during Transition.

                    Final Cost will only appear in PDF once Solution is Saved.

                    Limitation:

                    SIOC Solution will NOT function if EPS is less than 800

                    Years of Service is limited to 10 years.

                    Cost is shown in USD only.

                    GID can not service if Term of Agreement is less than 12 months (excluding Transition time) 

                    </textarea> 
              </div>
              
            <br>

      </div>
      {% if frm_flds.form_status != "Submitted"%}
      <div class="column" style="float:right"> 
        <button class="ui teal button">Edit</button> &nbsp;&nbsp;&nbsp;
        {% comment %} <a class="ui primary button">Download PDF</a> {% endcomment %}
      </div>
       {% endif %}

    </div>
  </div>

              <br>
              <div id="prvwhmpgbtn" class="ui right labeled input" style="width:100%">
                  <a href="/portal/quote/" class="ui secondary button">Click here to go Homepage</a> &nbsp;&nbsp;&nbsp;
                  <button id="prvwbtn" class="ui primary button">Click here to Submit</button>
              </div>
</div>
  </div>
</div>

<br>


<br>
<!--div id="finlbtnset" class="ui center aligned container hidme"  style="width: 90%;">
        <a class="ui red button">Cancel</a> &nbsp;&nbsp;&nbsp;
        <button class="ui primary button">Submit</button>
</div-->

</div>
</form>

  <div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Group 1</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
            <a href="#" class="item">Link Three</a>
            <a href="#" class="item">Link Four</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Group 2</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
            <a href="#" class="item">Link Three</a>
            <a href="#" class="item">Link Four</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Group 3</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
            <a href="#" class="item">Link Three</a>
            <a href="#" class="item">Link Four</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Footer Header</h4>
          <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <img href="/static/assets/images/logo.png" class="ui centered mini image">
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="#">Site Map</a>
        <a class="item" href="#">Contact Us</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
      </div>
    </div>
  </div>



  <script>
 $(document).ready(function(){

$( "#user_prof" ).hide();   
 
  $(document).on('click', '#qweas', function() {
     $( "#user_prof" ).toggle();     
      });  
 })
</script>



{% endblock %}